<section>
    <figure>
        <div class="c-featuredImage"
            style="background-image: url('assets/blog/entries/foray-into-baking/splash-screen.jpg')">
        </div>
        <caption class="c-featuredImage__caption">Photo by Andrew Wong on Unsplash. Also, my end goal one day...
        </caption>
    </figure>
</section>
<section class="section c-blogContent">
    <p>
        Bread and olive oil is one my go-to guilty pleasures, particularly sour dough. Store bought is for sure the
        easiest way to go, but <i>finding</i> a good loaf is not always easiest. First of all, anything from the bread
        isle is not the kind of you use for dipping in olive oil. I have also noticed that even bakeries at some stores,
        Walmart and HEB come to mind, don't necessarily bake good bread. For instance, the plain white loaf from many
        stores marked "artisan" taste like Wonder Bread but have a fancy cut on top. I don't to live in a wonder bread
        only world. I want flavor, depth, Umami! Yes, it may take some practice. Some planning. Lots of failures. But
        I'm willing to risk it!
    </p>
    <h3 class="title">The initial assault..</h3>
    <p>
        So how is my foray going? Not great, until today 😏. For about 2-3 years now I have been attempting to get my
        bread making skills off the ground. Starting with simple white bread and active dry yeast, moving to sourdough
        starters and complicated recipes from complicated book, a 8 month hiatus, and back to the beginning with white
        bread and instance yeast. Every one felt like a failure. Did I give up? Yes. For 8 months I resigned to meh and
        thought it wasn't worth it. However, though the power of #bragging and Instagram the urge to concur this breast
        once and for all was reawakened! Hazzah!
    </p>
    <h3 class="title">Conquering the dough!</h3>
    <p>
        This weekend I did it. I made a loaf of bread I am not ashamed of.
    </p>
    <figure class="c-image__inline">
        <img src="assets/blog/entries/foray-into-baking/my-first-good-loaf.jpg" />
        <caption class="c-featuredImage__caption">
            Wow, a loaf that looks decent and tastes good?!
        </caption>
    </figure>
    <p>
        What really made it click was reading up on <a
            href="https://www.bakerybits.co.uk/resources/autolyse-what-why-how/">autolysing</a> and <a
            href="https://www.craftybaking.com/howto/hydration-bread-dough">dough hydration</a>.
        Autolysing is a technique where you let the flour and water set before mixing in yeast and other ingredients.
        This helps your dough
        s gluten develop without getting tough as well as helps the yeast introduce flavor later. Dough hydration is a a
        way of looking at your ingredients in terms of percentages. This allows me to look at a recipe (do a bit of
        math) and know what kind of properties it will exhibit. Reading recipes before learning this never seem to
        explain if the dough should look dry or really wet. I was just supposed to know so how. Which is dumb in my
        opinion. This is so useful in fact I am considering adding this to my site so I can quickly calculate this in
        the future.
    </p>
    <figure class="c-image__inline">
        <img src="assets/blog/entries/foray-into-baking/my-second-and-third-good-loafs.jpg" />
        <caption class="c-featuredImage__caption">
            Look! More bread!
        </caption>
    </figure>
    <h3 class="title">The recipe - AKA the incantation</h3>
    <p>
        So how did I get the above loafs? Well I made two different batches: 80% and 85% hydration.
    </p>
    <p>80% Hydration</p>
    <ul>
        <li>5 g active dry yeast</li>
        <li>350 g bread flour</li>
        <li>288 g water</li>
        <li>7 g salt</li>
    </ul>
    <p>85% Hydration</p>
    <ul>
        <li>5 g active dry yeast</li>
        <li>350 g bread flour</li>
        <li>306 g water</li>
        <li>7 g salt</li>
    </ul>
    <p> Also needed for this recipe: rice flour (optional), semolina flour, proofing basket, scale, Pyrex baking dish,
        and some way to cover the dough (I used plastic wrap and a tea towel).</p>
    <p>When dealing with the dough, I have found wetting my hands before picking up the dough makes everything much
        easier. Now, without further adieu the instructions:</p>
    <div class="content">
        <ol type="1">
            <li>Mix the flour and water in a large bowl.</li>
            <li>Let mixture autolyse for 2 hours covered.</li>
            <li>After two hours, sprinkle yeast on top of mixture and knead together. Doesn't have to be perfect, just
                no
                balls of unmixed yeast.</li>
            <li>Let rise for 1 hour.</li>
            <li>After rise, mix in salt the same way you did the yeast.</li>
            <li>Move dough into a wet Pyrex cooking dish. Let rest 30 minutes.</li>
            <li>After rest, dough should have spread out into a very loose rectangle. Stretch and fold all four sides of
                the
                dough back onto itself. Do 3 times with a 30 minute rest in between for a total of 1.5-2 hours.</li>
            <li>Flour a work surface and hands with bread flour. Turn dough out onto the service and do a final stretch
                and
                fold all the way around the dough until you have a rough ball or loaf shape (the will depend on the
                shape of
                your proofing basket). On each fold, make sure dough sticks back on itself.</li>
            <li>While the dough is still on the work surface, heavily flour the top of your dough (seam side down).</li>
            <li>Liberally flour the inside of your bread basket with rice flour if you have it, else semolina flour.
            </li>
            <li>Place dough in basket seam side up. Flour top with a dusting of bread flour and cover with towel. Make
                sure
                to use enough flour so the towel will not stick.</li>
            <li>Let rise at 75°-95° F for 1 hour.</li>
            <li>Place in fridge at 36°-41° F for 3-4 hours or overnight.</li>
            <li>When ready to bake, preheat oven and dutch oven (with lid cracked) to 475° F for 30-40 minutes. The
                dutch
                oven should be fully heated before moving on to the next step.</li>
            <li>Cut parchment paper to a circle the size of your dutch oven AND include handles to allow setting the
                dough
                into the pot. It should be shaped like python that just ate a beach ball (you're welcome 😉).</li>
            <li>Sprinkle semolina flour on the top of your dough.</li>
            <li>Cover the bread basked with the center of the parchment paper and using your hand turn the dough out
                onto
                the counter.</li>
            <li>Cut the top of the dough with long cuts to allow expanding. The longer the better. Cut should be 1/4 to
                3/4
                deep and at a 45° angle if possible. I am still trying to get the hang of this step.</li>
            <li>Remove dutch oven from oven and place loaf inside using the head and tail of your beach ball python
                parchment paper from earlier.</li>
            <li>Place the lid back on (all the way) and place back in the oven.</li>
            <li>Lower the temperature to 450° F and set a timer for 20 minutes.</li>
            <li>At the end of 20 minutes, remove the lid from the dutch oven and lower the temperature to 425° F. Set a
                timer for 15 minutes.</li>
            <li>At the end of the 15 minutes, remove the dutch oven and the bread from the dutch oven using the python's
                head and tail. Place on a cooling rack (without the paper) and allow to cool for at least 45 minutes or
                until completely cool.</li>
        </ol>
    </div>
</section>