<section class="section">
  <div class="c-blogPostList container" *ngFor="let post of Entries">
    <div class="c-postLink card" (click)="navTo(post)">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img [src]="post.image" [alt]="post.imagePlaceholderText" />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{post.title}}</p>
            <p class="subtitle is-6"><time>{{post.publishDate | date}}</time></p>
          </div>
        </div>
        <div class="content">
          <p *ngIf="post.description">{{post.description}}</p>
        </div>
      </div>
    </div>
  </div>
</section>