@import "bulma";

$link: #fff;

.c-footer {
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-header,
.c-navbar {
  padding: 15px 15px;
  background-color: $primary;
}

.navbar-item:hover,
.navbar-item:active,
.navbar-item:focus {
  background-color: transparent !important;
  color: inherit !important;
}

p {
  display: inline;
}

.active-link {
  font-weight: bold;
}

.c-postLink {
  cursor: pointer;
}

.c-mainContent {
  min-height: calc(100vh - 168px);
}
