<!--The content below is only a placeholder and can be replaced.-->

<nav class="level">
  <div class="level-left">

  </div>
  <div class="level-right">
    <p class="level-item" routerLink="/home"><strong>Home</strong></p>
    <p class="level-item" routerLink="/about"><a>About</a></p>
  </div>
</nav>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">{{title || 'Working Title'}}</h1>
      <h2 class="subtitle">{{subTitle || 'TBD'}}</h2>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>

<footer class="footer">
  <div class="list">
    <div>
      <icon-link [icon]="githubIcon" href="https://github.com/daniefer">github</icon-link>
    </div>
  </div>
</footer>