<section class="section">
  <div class="container" *ngFor="let post of Entries">
    <div class="card" (click)="navTo(post)">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="assets/96x96.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{post.title}}</p>
            <p class="subtitle is-6"><time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time></p>
          </div>
        </div>

        <div class="content">
          {{post.teaser}}
          <br *ngIf="post.teaser">
        </div>
      </div>
    </div>
  </div>
</section>