caption {
  display: inline-block;
}

ol,
ul {
  margin-bottom: 20px;
  list-style: inside;
}

p {
  margin-bottom: 1em;
}

.c-featuredImage {
  max-width: none;
  width: 80vw;
  transform: translate(-50%);
  margin-left: 50%;

  height: 400px;
  background-size: cover;
  background-position: center center;
}

.c-featuredImage__caption {
  display: inline-block;
  font-style: italic;
  font-size: 12px;
}

.c-image__inline {
  margin-bottom: 1em;
}

.strikethrough {
  text-decoration: line-through;
  font-style: normal;
}
