<section class="section">
  <div class="container">
    <h3 class="title">Recent Posts</h3>
    <div class="columns">
      <div class="column">
        <card></card>
      </div>
      <div class="column">
        <card></card>
      </div>
      <div class="column">
        <card></card>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h3 class="title">My babies</h3>
    <div class="columns">
      <div class="column">
        <card></card>
      </div>
      <div class="column">
        <card></card>
      </div>
      <div class="column">
        <card></card>
      </div>
    </div>
  </div>
</section>