<section class="section">
  <div class="container">
    <h3 class="title">Who am I?</h3>
    <div class="content">
      <p>
        Hello, I am Dan. Thanks for virtually stopping by. I live in the wonderfully weird Austin, TX with mt wife and
        <a href="https://www.instagram.com/peter_and_patches/">doges</a>. I am into non-scary movies/shows, travel (who
        isn't really), and sharing ideas.
      </p>
      <p>
        If you find yourself in Austin sometime and want talk tech hit me up on <icon-link [icon]="vm.twitterIcon"
          [href]="vm.twitterUrl"></icon-link> and we can get a coffee/beer and teach each other something new.
      </p>
      <p>
        Your probably wondering at this point what the hell I do professionally, well here is your chance! I am full
        stack
        software engineer working at <a [attr.href]="vm.currentEmployerWUrl">{{ vm.currentEmployer }}</a> with an <a
          [attr.href]="vm.teamPath">awesome team</a>. My stack is primarily a .NET/Angular, but I have been know to hang
        with a few of the <a routerLink="/blog/lang-dabbling">new kids on the block</a>. I am all about that .NET life
        and
        love the ecosystem as well as the new, open, and innovative Microsoft.
      </p>
    </div>
  </div>
</section>