<div class="container">
  <h3 class="title">Who am I?</h3>
  <div class="content">
    <p>
      Hello, I am Dan. Thanks for stopping by. I'm a software engineer based in Austin, TX doing full stack stuff in my
      day to day at {{ 'Sync1 Systems' }}. I am into non-scary movies, travel, and hanging with my wife and <a
        href="https://www.instagram.com/peter_and_patches/">doges</a>.
    </p>
    <p>
      I am full stack software engineer working at {{ 'Sync1 Systems' }} with an awesome team who is renovating the loan
      origination space. My stack is primarily a .NET/Angular, but I have been know to hang with a few of the <a
        routerLink="/blogs/lang-dabbling">new kids on the block</a>.
    </p>
  </div>
</div>